.login {
    display: flex;
    justify-content: center;
    align-items: center;

    &__form {
        display: flex;
        flex-direction: column;
        margin-top: 200px;
    }

    &__title {
        display: flex;
        font-family: "Orbitron", serif;
        font-size: 50px;
        font-weight: 500;
        color: white;
    }

    &__email {
        display: flex;
        width: 400px;
        height: 40px;
        font-size: 15px;
        outline: none;
        border: 1px solid black;
        padding-left: 10px;
        font-family: "Orbitron", serif;
        background-color: white;
        margin-bottom: 8px;
    }

    &__password {
        display: flex;
        width: 400px;
        height: 40px;
        font-size: 15px;
        outline: none;
        border: 1px solid black;
        padding-left: 10px;
        font-family: "Orbitron", serif;
        background-color: white;
    }
}